---
import Layout from '../layouts/Layout.astro';
import JobExperienceIcon from '../components/icons/JobExperienceIcon.astro'  
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ProjectsIcon from '../components/icons/ProjectsIcon.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Roberto Mortera-Frontend Developer" description='Frontend Developer, focused on creating and improving the development of projects and applications, using technologies such as JavaScript, React, Tailwind CSS, HTML/CSS, TypeScript.'>
	<main class="px-4">
		<SectionContainer id="home" class="py-16 md:py-36">
			<Hero>
				<slot />
			</Hero>
	  </SectionContainer>

		<SectionContainer class="pb-12 md:pb-32">
			<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<JobExperienceIcon class="size-7"/> 
				Professional Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects" class="pb-12 md:pb-32">
			<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<ProjectsIcon class="size-7"/> 
				Projects
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="about-me" class="pb-12 md:pb-32">
      <h2
        class="text-3xl font-semibold mb-6 flex items-center gap-x-8"
      >
        <ProfileCheck class="size-8" />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
	</main>
</Layout>

