---
const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-[#030303d9] dark:text-[#fafafa] border border-gray-950/20 focus-visible:ring-yellow-500/80 text-md bg-white/5 hover:scale-110 hover:bg-[#0000001a] transition-all group max-w-fit rounded-xl hover:text-[#030303d9] focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>